.Showmovie{
    border-width: 1px;
    border-radius: 10px;
    border: solid 0.1px;
    direction: rtl;
    background-color: crimson;
    margin:1em auto;
    padding: 10px;
    width: 80%;
    align-items: center;    
    /* display: flex; */
    justify-content: center;
    display: block;
}